body{
    background: rgba(0,0,0,0.9);
    margin:0;
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    line-height: 1.42857143;
}
.showcase::after{
    content:'';
    height:100vh;
    width:100%;
    background-image:url("./img/art-artsy-close-up-414860.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    display:block;
    filter:blur(10px);
    -webkit-filter:blur(10px);
    transition:all 1000ms;
}
.showcase:hover::after{
    filter:blur(0px);
    -webkit-filter:blur(0px);
}
.showcase:hover .content{
    filter:blur(2px);
    -webkit-filter:blur(2px);
}
.content{
    position:absolute;
    z-index:1;
    top:10%;
    left:50%;
    margin-top:105px;
    margin-left:-145px;
    width:300px;
    height:350px;
    text-align:center;
    transition:all 1000ms;
}
.content .logo{
    height:180px;
    width:180px;
}
.content .title{
    font-size: 2.2rem;
    margin-top:1rem;
}
.content .text{
    line-height:1.7;
    margin-top:1rem;

}

.container{
    max-width: 960px;
    margin:auto;
    overflow:hidden;
    padding:4rem 1rem;

}
.intro{
    padding-left: 575px;
}
.grid-3{
    display:grid;
    grid-template-columns:3fr 3fr 3fr 3fr 1fr;
    grid-gap:20px;
    padding-left: 310px;
    padding-top: 20px;

}
.grid_2{
    display:grid;
    grid-template-columns:3fr 3fr 1fr;
    grid-gap:20px;
}
.center{
    text-align:center;
    margin:auto;

}
.bg-light{
    background:lightgrey;
    color:#333;
}
.bg-dark{
    background:#333;
    color:lightgrey;
}
footer{
    padding:2.2rem;
}
footer p{
    margin:0;
}
.col-md-12 .col-sm-12{
    display: inline-block;
    margin-bottom: 80px;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-md-6 .col-sm-6{
    display: inline-block;
    padding-top: 50px;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
#enlarge{
    font: 25px solid white;
}
form {
    display: block;
    margin-top: 0em;
}
#skills{
    padding-left: 160px;
    margin-top: 10%;
    font:20px bold;
}
.playlist{
    justify-content: center;
    padding-left: 240px;
}

.title{
    text-align: center;
}
#paper{
    justify-content: center;
    padding-left: 460px;
}
#educ{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 15vw);
    grid-gap: 10px;
    padding-left: 135px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
.right{
    float: right;
}
/*#nav {*/
/*    transition: opacity 0.25s;*/
/*}*/

/*.navbar-fixed {*/
/*    opacity: 0.75*/
/*}*/

/*.navbar-trans {*/
/*    opacity: 1;*/
/*}*/
/*#nav {*/
/*    transition: background-color 0.3s ease;*/
/*    background-color: rgba(255,255,255,0);*/
/*}*/
/*#nav.navbar-fixed {*/
/*    background-color: rgba(255,255,255,1);*/
/*}*/
#menu-nav {
    max-width: 100%;
    margin: 10px auto;
    background-color: #ecf0f1;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    /*float: left;*/
    transition: opacity 0.25s
}


#navigation-bar ul {
    border-radius: 4px;
    overflow: hidden;
}
#navigation-bar li {
    float: left;
    width: 11.9%;
}
#navigation-bar li:hover a::before {
    right: 0;
    left: 0;
}
#navigation-bar a {
    color: #848484;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    /*padding: 20px 0;*/
    display: block;
    position: relative;
    transition: all 0.3s ease;
}
#navigation-bar a:hover {
    color: #e74c3c;
}
#navigation-bar a::before {
    content: "";
    transition: all 0.4s ease-in-out;
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 0;
    height: 2px;
    background-color: #e74c3c;
}
#navigation-bar a:hover::before {
    right: 0;
    left: 0;
}

li {
    list-style: none;
}
#work_exp{
    padding-left: 460px;
}