
body{
    background-image: linear-gradient(to bottom, #000000,  #1a001a, #660066, #b300b3, #ff1aff);
    margin:0;
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    line-height: 1.42857143;
}
.showcase::after{
    content:'';
    height:100vh;
    width:100%;
    background-image:url("./img/art-artsy-close-up-414860.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    display:block;
    filter:blur(25px);
    -webkit-filter:blur(20px);
    transition:all 1000ms;
}
.showcase:hover::after{
    filter:blur(0px);
    -webkit-filter:blur(0px);
}
.showcase:hover .content{
    filter:blur(2px);
    -webkit-filter:blur(2px);
}
.content{
    position:absolute;
    z-index:1;
    top:10%;
    left:50%;
    margin-top:105px;
    margin-left:-145px;
    width:400px;
    height:350px;
    text-align:center;
    transition:all 1000ms;
}
.content .logo{
    height:180px;
    width:180px;
}
.content .title{
    font-size: 2.2rem;
    margin-top:1rem;
}
.content .text{
    line-height:1.7;
    margin-top:1rem;

}
#home{
    padding-bottom: 40px;
}
.container{
    max-width: 960px;
    margin:auto;
    overflow:hidden;
    padding:4rem 1rem;

}
.intro{
    padding-left: 615px;
}
.grid-3{
    display:grid;
    grid-template-columns:3fr 3fr 3fr 3fr 1fr;
    grid-gap:20px;
    padding-left: 250px;
    padding-top: 20px;

}
.grid_2{
    display:grid;
    grid-template-columns:3fr 3fr 1fr;
    grid-gap:20px;
}
.center{
    text-align:center;
    margin:auto;

}
.bg-light{
    background:lightgrey;
    color:#333;
}
.bg-dark{
    background:#333;
    color:lightgrey;
}
footer{
    padding:2.2rem;
}
footer p{
    margin:0;
}
.col-md-12 .col-sm-12{
    display: inline-block;
    margin-bottom: 80px;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-md-6 .col-sm-6{
    display: inline-block;
    padding-top: 50px;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
#enlarge{
    font: 25px solid white;
    font-weight: bolder;
    padding-left: 390px;
}
form {
    display: block;
    margin-top: 0em;
}
#skills{
    padding-left: 70px;
    margin-top: 10%;
    font:50px bolder;
}
.video-slider {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 15vw);
    grid-gap: 10px;
    padding-left: 190px;
    padding-bottom: 150px;
    /*justify-content: center;*/
    /*padding-left: 240px;*/
    /*display: inline-block;*/
    /*!*grid-template-columns: repeat(3, 1fr);*!*/
    /*!*grid-template-rows: repeat(1, 15vw);*!*/
    /*!*grid-gap: 15px;*!*/
    /*!*padding-bottom: 250px;*!*/
}

.title{
    text-align: center;
}
#paper{
    justify-content: center;
    padding-left: 420px;
}
/*PORTFOLIO*/
.projects-square{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 15vw);
    grid-gap: 15px;
    padding-left: 100px;
    padding-bottom: 250px;
}
/*EDUCTATION*/
#educ{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 15vw);
    grid-gap: 10px;
    padding-left: 40px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
.right{
    float: right;
}
/*NAVIGATION BAR*/
#menu-nav {
    max-width: 100%;
    margin: 10px auto;
    background-color: #ecf0f1;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: opacity 0.25s
}


#navigation-bar ul {
    border-radius: 4px;
    overflow: hidden;
}
#navigation-bar li {
    float: left;
    width: 11.9%;
}
#navigation-bar li:hover a::before {
    right: 0;
    left: 0;
}
#navigation-bar a {
    color: #848484;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    /*padding: 20px 0;*/
    display: block;
    position: relative;
    transition: all 0.3s ease;
}
#navigation-bar a:hover {
    color: #e74c3c;
}
#navigation-bar a::before {
    content: "";
    transition: all 0.4s ease-in-out;
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 0;
    height: 2px;
    background-color: #e74c3c;
}
#navigation-bar a:hover::before {
    right: 0;
    left: 0;
}

li {
    list-style: none;
}
#work_exp{
    padding-left: 420px;
}
/*YOUTUBE VIDEO CAROUSEL*/
/** {*/
/*    -webkit-box-sizing: border-box;*/
/*    -moz-box-sizing: border-box;*/
/*    box-sizing: border-box;*/
/*    margin:0;*/
/*    padding:0;*/
/*}*/
/*#playlist{*/

/*}*/
/*.video-slider {*/
/*    width: 100%;*/
/*    height: 20em;*/
/*    background: #444;*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*}*/
/*.slide {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 100%;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    text-align: center;*/
/*    overflow: hidden;*/
/*}*/
/*.slide:first-child{*/
/*    left: 0;*/
/*}*/
/*.video{*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    border:0;*/
/*}*/
/*.slide-arrow{*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    height: 45%;*/
/*    width: 15%;*/
/*    cursor: pointer;*/
/*    opacity: .2;*/
/*}*/
/*.slide-arrow:hover{*/
/*    opacity: 1;*/
/*}*/
/*.slide-arrow:after{*/
/*    content: "\003c";*/
/*    text-align: center;*/
/*    display: block;*/
/*    height: 10%;*/
/*    width: 100%;*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    font-size: 3em;*/
/*}*/
/*.slide-arrow.right:after{*/
/*    content: "\003e";*/
/*}*/
/*.slide-arrow.right{*/
/*    left: auto;*/
/*    right: 0;*/
/*}*/

